<strong>Olá, {{ deliveryman_name }}</strong>
<p>Uma entrega foi cancelada devido a um problema, abaixo seguem os detalhes da operação:</p>
<p>
  <strong>Destinatário: {{ recipient_name }}</strong> <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Problema: </strong> {{ description }} <br />
  <br />

  <small>
    Um espaço foi liberado na sua lista de entregas.
    Faça uma nova retirada para preenche-lo.
  </small>
</p>
