<strong>Olá, {{ deliveryman_name }}</strong>
<p>Há uma nova mercadoria para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: {{ recipient_name }}</strong> <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />

  <small>
    Por favor, marque a data/hora de retirada e entrega.
  </small>
</p>
